<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap-select.css" rel="stylesheet">
    <title>Parser</title>
</head>

<body style="height: 100vh;">
    <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
        <form style="width: 400px; border: 1px solid #ccc; border-radius: 5px; padding: 20px;">
            <div class="mb-3">
                <label for="text" class="form-label" style="width: 100%;">Вакансия</label>
                <select required id="text" class="selectpicker" multiple data-actions-box="true"
                    data-live-search="true">
                    <!-- <option selected>Open this select menu</option> -->
                    {% for text in texts %}
                    <option value="{{text}}">{{text}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label" style="width: 100%;">Локация</label>
                <select required id="location" class="selectpicker" multiple data-actions-box="true"
                    data-live-search="true">
                    <!-- <option selected>Open this select menu</option> -->
                    {% for location in locations %}
                    <option value="{{location.hh_code}}">{{location.location}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Дата</label>
                <div class="input-group align-items-center" id="date">
                    <input required id="date_start" type="date" class="input-sm form-control" />
                    <span class="input-group-addon" style="padding: 0 10px;">до</span>
                    <input required id="date_end" type="date" class="input-sm form-control" />
                </div>
            </div>
            <div class="mb-3">
                <label for="count" class="form-label">Количество вакансии</label>
                <input required type="number" class="form-control" id="count">
            </div>
            <button onclick="download()" style="width: 100%;" type="button" class="btn btn-primary">Скачать
                Excel</button>
        </form>
    </div>
    <script src="/static/jquery.js"></script>
    <script src="/static/bootstrap.js"></script>
    <script src="/static/bootstrap-select.js"></script>
    <script>
        function toDateInputValue(dateObject) {
            const local = new Date(dateObject);
            local.setMinutes(dateObject.getMinutes() - dateObject.getTimezoneOffset());
            return local.toJSON().slice(0, 10);
        };
        $('#country').selectpicker();
        $("#country option").attr("selected", "selected");
        $('#date_start').val(toDateInputValue(new Date("2024-01-01")))
        $('#date_end').val(toDateInputValue(new Date()))
        $('#count').val(50)
        function download() {
            const data = {
                text: $("#text").val().join(","),
                area: $("#location").val().join(","),
                per_page: $("#count").val(),
                date_from: $("#date_start").val(),
                date_to: $("#date_end").val(),
                currency: 'RUR',
            }
            console.log(data);
            fetch("/download", {
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(response => response.blob())
                .then(blob => URL.createObjectURL(blob))
                .then(url => {
                    window.open(url, '_blank');
                    URL.revokeObjectURL(url);
                });
        }
    </script>
</body>

</html>